.Postproduct {
  background-image: url("https://media.tenor.com/kKmvIr30vQYAAAAj/stars-changing-colors.gif");
}

span {
  font-size: large;
}
.price {
  display: inline-block;
}

.phoneno {
  margin-block: 12px;
}
